torch==2.1.2+cu121
torchvision==0.16.2+cu121
torchaudio==2.1.2+cu121
accelerate==0.29.0
diffusers==0.23.1
einops
numpy==1.24.4
Pillow==10.1.0
PyYAML
safetensors
tqdm
transformers==4.35.2
tensorboard
scipy
opencv-python
